This is Data Science Capstone assignment - "Segmenting and Clustering Neighborhoods in Toronto"

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
 
WIKI_URL ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' 
res = requests.get(WIKI_URL)
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
df_w=pd.DataFrame(df)

df_w.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [2]:
#rename columns
df_w.columns=['Postcode','Borough','Neighborhood']
df_w.head()

   Postcode       Borough      Neighborhood
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [3]:
#drop the first row...here is the cleaned-up dataframe
df_w.drop(0,inplace=True)
df_w.head()

  Postcode           Borough      Neighborhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [4]:
# removed boroughs with 'not assigned' 
df_w1=df_w[df_w.Borough.str.contains("Not assigned") == False]
df_w1.head()

  Postcode           Borough      Neighborhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

In [5]:
#reset index
df_w2=df_w1.reset_index()
df_w3=df_w2.drop(df_w2.columns[0],axis=1)
df_w3.head()

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [6]:
# combine rows with the same Postcode & Borough
df_w4=df_w3.groupby(['Postcode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df_w4.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [7]:
# if any neighborhood has the value of "not assigned", use the name in borough instead
row=0
for row in range(103):
    if df_w4.Neighborhood[row]=='Not assigned':
        df_w4.Neighborhood[row] = df_w4.Borough[row]
        row=row+1
    
df_w4.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [8]:
 df_w4.shape

(103, 3)

In [9]:
#https://geocoder.readthedocs.io/index.html
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
    100% |████████████████████████████████| 102kB 16.7MB/s
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (2.18.4)
Requirement already satisfied: future in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (0.16.0)
Requirement already satisfied: six in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (1.11.0)
Requirement already satisfied: click in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (6.7)
Requirement already satisfied: decorator in /home/jupyterlab/conda/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2018.8.24)
distributed 1.21.8 requires msgpack, which is not installed.
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [10]:
import geocoder
import time

In [11]:
# test geocoder on a simple one to make sure it's working (since it can be very slow and unpredictable)
start_time=time.time()
l=None
check1=0
while l is None:
    if check1 < 100:
        g = geocoder.google('Mountain View, CA')
        l=g.latlng
        check1=check1+1
        print(check1)
    else:
        l='done'

print(l)    
print("--- %s seconds ---" % round((time.time() - start_time), 2))

1
2
3
4
5
6
7
8
9
[37.3860517, -122.0838511]
--- 1.32 seconds ---

In [12]:
# test geocoder on a simple one to make sure it's working (since it can be very slow and unpredictable)
start_time=time.time()
l=None
while l is None:
    g = geocoder.google('{}, Toronto, Ontario'.format('M5G'))
    l=g.latlng
    print('try again')

print(l)    
print("--- %s seconds ---" % round((time.time() - start_time), 2))

try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
try again
[43.6579524, -79.3873826]
--- 4.32 seconds ---

In [13]:
df_w4['Latitude']=0.0
df_w4['Longitude']=0.0
df_w4.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",0.0,0.0
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",0.0,0.0
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",0.0,0.0
3,M1G,Scarborough,Woburn,0.0,0.0
4,M1H,Scarborough,Cedarbrae,0.0,0.0

In [14]:
start_time=time.time()
row=0
for row in range(103):
    print(row)
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(df_w4.Postcode[row]))
        lat_lng_coords = g.latlng
        
    print("--- %s seconds ---" % round((time.time() - start_time), 2))
    df_w4.Latitude[row] = lat_lng_coords[0]
    df_w4.Longitude[row] = lat_lng_coords[1]
    row=row+1
    
df_w4

0
--- 2.65 seconds ---
1

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

--- 4.28 seconds ---
2
--- 4.83 seconds ---
3
--- 6.18 seconds ---
4
--- 7.26 seconds ---
5
--- 8.17 seconds ---
6
--- 9.09 seconds ---
7
--- 14.69 seconds ---
8
--- 23.33 seconds ---
9
--- 25.04 seconds ---
10
--- 25.9 seconds ---
11
--- 26.47 seconds ---
12
--- 27.38 seconds ---
13
--- 29.26 seconds ---
14
--- 32.28 seconds ---
15
--- 32.89 seconds ---
16
--- 34.65 seconds ---
17
--- 36.77 seconds ---
18
--- 38.32 seconds ---
19
--- 39.38 seconds ---
20
--- 40.65 seconds ---
21
--- 41.37 seconds ---
22
--- 45.03 seconds ---
23
--- 48.57 seconds ---
24
--- 53.08 seconds ---
25
--- 53.75 seconds ---
26
--- 56.45 seconds ---
27
--- 57.25 seconds ---
28
--- 58.15 seconds ---
29
--- 59.13 seconds ---
30
--- 61.42 seconds ---
31
--- 63.34 seconds ---
32
--- 67.45 seconds ---
33
--- 68.25 seconds ---
34
--- 73.11 seconds ---
35
--- 74.62 seconds ---
36
--- 76.74 seconds ---
37
--- 77.45 seconds ---
38
--- 78.77 seconds ---
39
--- 81.16 seconds ---
40
--- 82.52 seconds ---
41
--- 83.69 seconds ---
42
--- 84.92 seconds ---
43
--- 85.6 seconds ---
44
--- 88.52 seconds ---
45
--- 94.49 seconds ---
46
--- 101.39 seconds ---
47
--- 102.65 seconds ---
48
--- 103.31 seconds ---
49
--- 107.47 seconds ---
50
--- 109.36 seconds ---
51
--- 111.37 seconds ---
52
--- 112.55 seconds ---
53
--- 113.82 seconds ---
54
--- 115.23 seconds ---
55
--- 119.49 seconds ---
56
--- 121.23 seconds ---
57
--- 122.65 seconds ---
58
--- 127.13 seconds ---
59
--- 130.49 seconds ---
60
--- 131.51 seconds ---
61
--- 132.9 seconds ---
62
--- 137.21 seconds ---
63
--- 142.77 seconds ---
64
--- 145.07 seconds ---
65
--- 146.46 seconds ---
66
--- 148.42 seconds ---
67
--- 150.37 seconds ---
68
--- 151.03 seconds ---
69
--- 152.04 seconds ---
70
--- 154.93 seconds ---
71
--- 159.36 seconds ---
72
--- 161.05 seconds ---
73
--- 163.11 seconds ---
74
--- 165.39 seconds ---
75
--- 166.32 seconds ---
76
--- 167.64 seconds ---
77
--- 169.24 seconds ---
78
--- 173.1 seconds ---
79
--- 178.27 seconds ---
80
--- 178.94 seconds ---
81
--- 183.36 seconds ---
82
--- 184.97 seconds ---
83
--- 185.55 seconds ---
84
--- 186.46 seconds ---
85
--- 187.53 seconds ---
86
--- 189.37 seconds ---
87
--- 190.15 seconds ---
88
--- 190.93 seconds ---
89
--- 192.0 seconds ---
90
--- 193.27 seconds ---
91
--- 197.08 seconds ---
92
--- 200.29 seconds ---
93
--- 202.32 seconds ---
94
--- 203.41 seconds ---
95
--- 204.4 seconds ---
96
--- 205.41 seconds ---
97
--- 206.6 seconds ---
98
--- 207.73 seconds ---
99
--- 208.78 seconds ---
100
--- 212.69 seconds ---
101
--- 214.74 seconds ---
102
--- 215.95 seconds ---

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750071,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577
15,M1W,Scarborough,"L'Amoreaux West, Steeles West",43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,"Silver Hills, York Mills",43.757490,-79.374714
21,M2M,North York,"Newtonbrook, Willowdale",43.789053,-79.408493
22,M2N,North York,Willowdale South,43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,Willowdale West,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills North,43.745906,-79.352188
27,M3C,North York,"Flemingdon Park, Don Mills South",43.725900,-79.340923
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Heights",43.754328,-79.442259
29,M3J,North York,"Northwood Park, York University",43.767980,-79.487262
...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
74,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
75,M6G,Downtown Toronto,Christie,43.669542,-79.422564
76,M6H,West Toronto,"Dovercourt Village, Dufferin",43.669005,-79.442259
77,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750
78,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village",43.636847,-79.428191
79,M6L,North York,"Maple Leaf Park, North Park, Upwood Park",43.713756,-79.490074
80,M6M,York,"Del Ray, Keelsdale, Mount Dennis, Silverthorn",43.691116,-79.476013
81,M6N,York,"The Junction North, Runnymede",43.673185,-79.487262
82,M6P,West Toronto,"High Park, The Junction South",43.661608,-79.464763
83,M6R,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325
84,M6S,West Toronto,"Runnymede, Swansea",43.651571,-79.484450
85,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
86,M7R,Mississauga,Canada Post Gateway Processing Centre,43.636966,-79.615819
87,M7Y,East Toronto,Business reply mail Processing Centre969 Eastern,43.662744,-79.321558
88,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto",43.605647,-79.501321
89,M8W,Etobicoke,"Alderwood, Long Branch",43.602414,-79.543484
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
91,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So...",43.636258,-79.498509
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",43.628841,-79.520999
93,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Emery, Humberlea",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054